# SETTINGS
PORT=3000
NODE_ENV=
#LOCAL_DATABASE
LOCAL_DATABASE=

# DATABASE
DATABASE=
DATABASE_PASSWORD=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=
JWT_COOKIE_EXPIRES_IN=


# SUPER-ADMIN ACCOUNT
ADMIN_NAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=

# EMAIL
EMAIL_FROM=
GMAIL_USERNAME=
GMAIL_PASSWORD=


# ImageKit
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=