extends baseEmail

block content
  p Hi #{Name},
  p Welcome to Our Blog App, we're glad to have you 🎉🙏
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`#`, target='_blank') Welcome
  p If you need any help with using our app, please don't hesitate to contact us!
  hr
  p Enjoy using our product!
  p Ali Nour 